[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Microsoft Mouse Settings
Comment=Reset Microsoft Mouse
Exec=sudo resetmsmice-gui
Icon=cs-mouse
Terminal=false
Categories=Settings
