[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Reset Microsoft Mouse
Comment=resetmsmice
Exec=resetmsmice
Terminal=true 
Icon=resetmsmice
Categories=Settings
